/* @import url('https://fonts.googleapis.com/css?family=Montserrat:500'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.fullpage {
  height: 100vh;
}

.upbody {
  height: 150px;
  background-color: green;
  position: relative;
}

.downbody {
  height: 775px;
  background-color: lightgray;
  position: relative;
}


.main-body-container {
  width: 97.5%;
  height: 95%;
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  display: flex;
  box-sizing: border-box; /* Prevents padding from affecting width/height */
}


.active {
  display: block; 
}

@media (max-width: 768px) {

  .main-body-container {
      right: 20px;
      left: 10px;
      width: calc(100% - 60px);
    }

}





